/* Utilidades */
/* Modal*/
#custom-modal{
    transition: all .75s;
}

.cerrar-modal{
    transform: translateY(-800px);
}

.mostrar-modal{
    transform: translateY(40px);
}

/* Mensaje de Alerta */
/* #alerta-div{
    transition: all .5s;
    /* opacity: 0; 
}

.esconder-alerta{
    opacity: 0;
}

.mostrar-alerta{
    opacity: 1;
/* }  */


/* White Custom Scroll */
.white-custom-scroll::-webkit-scrollbar{

    width: 8px;
    height: 8px;
    
    /* background: linear-gradient(to top, rgba(27, 26, 23, 0.151), rgba(240, 227, 202, 0.1)); */
}

.white-custom-scroll::-webkit-scrollbar-thumb{
    
    background-color: #fff;
    border-radius: 5px;
}